.App {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
}

.App-content {
  max-width: 860px;
  margin: 90px auto;
}

.App-width {
  max-width: 860px;
  margin: 0 auto;
}

.App-search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.App-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 48px;
}

.Input {
  box-sizing: border-box;
  padding-left: 10px;
  color: #000;
  width: 100%;
  max-width: 684px;
  height: 54px;
  font-size: 14px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #767676;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#767676;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:#767676;
}
.Card {
  width: 280px;
  font-size: 14px;
  text-align: left;
  margin-top: 30px;
  cursor: pointer;
}

.Card:hover {
  opacity: 0.7;
}

.Card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.Card-title {
  font-weight: 700;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 0;
}

.Card-subtitle {
  color: #767676;
  width: 70%;
  margin-top:5px;
}

.Button {
  text-align: center;
  background-color: #000;
  color: #fff;
  width: 170px;
  height: 54px;
  font-size: 14px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.Button:hover {
  opacity: 0.7;
}

.Photo {
  max-width: 860px;
  margin: 30px auto;
}

.Photo-goback {
  font-size: 14px;
  color: grey;
  text-decoration: underline;
  text-align: center;
}

.Photo-image {
  width: 100%;
  margin-top: 18px;
}

.Photo-title {
  font-weight: 700;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 0;
}

.Photo-subtitle {
  color: #767676;
  width: 70%;
  margin-top:5px;
}

.Photo-note {
  margin-top: 72px;
  text-align: center;
  font-size: 14px;
  color: grey;
}
.Main-content {
  max-width: 860px;
  margin: 90px auto;
}

.Main-search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.Main-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 48px;
}

.imgCorb {
  width: 30px;
}

.btnCorb {
  width: 20px;
  height: 20px;
  margin-top: 20px;
  margin-bottom: 0;
}

.corbContainer {
  display: flex;
  justify-content: space-between;
}
.CardsSave {
  display: flex;
  justify-content: start;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

